.nav-bar{
    flex-direction: column;
    align-items: center;
}
.nav-bar ul{
   flex-direction: column;
   align-items: center;
   padding-bottom: 5%;

}
.slider-div{
    flex-direction: column;
}

#description-container div{
    flex-direction: column;
    align-items: center;
}